.navbar {
  overflow: hidden;
  background-color: black;
}

.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black
}

.navbar a.active {
  background-color: lightblue;
  color: black;
}

h1 {
  text-align: center}

button {
  width: 150px;
  height: 150px;
}

.row1, .row2, .row3 {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 50px
}
