.navbar {
  overflow: hidden;
  background-color: #28324B;
  display:flex;
  justify-content: space-evenly;
  position: sticky;
  top: 0px;
  z-index: 500;
}

.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: American Typewriter, serif;
}

.navbar a:hover {
  background-color: #ddd;
  color: black
}

.navbar a.active {
  background-color: #facd07;
  color: black;
}


button {
  width: 175px;
  height: 175px;
  border-radius: 50%;
  border: 5px solid #28324B ;
  background-color: #facd07;
  padding: 10px;
  outline: none;
}

button:hover {
  opacity : 0.6;
}

button:active, button.active {
  box-shadow: 10px 10px 10px black;
}

.add-outline {
  outline: none;
  border: 15px double #28324B ;
  color: #28324B;
  border-collapse: separate;

}

img {
  width: 100px;
  height: 100px;
}


.credit {
  width: 100%;
  font-size: xx-small;
  text-align: center;
}

.row1, .row2, .row3, .row {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 50px
}

* {
  margin: 0;
  padding: 0;
 }

.parallax1 {
  background-image: url("headphones.jpeg");
  min-height: 100vh;
  display: cover;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  top: 0;
  left: 0;
 }

 .container1 {
  height: 50vh;
  position: relative;
  background-color: #535b6f;

 }

 .parallax2 {
  background-image: url("headopacity.png");
  min-height: 95vh;
  display: cover;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  top: 0;
  left: 0;
 }

 .about {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
 font-family: "American Typewriter", serif;
}

h1 {
    position: absolute;
    left: 37%;
    top: 43%;
    width: 30%;
    text-align: center;
    color: white;
    background-color: #28324B;
    display: inline-block;
    padding: 18px;
    font-size: 50px;
    letter-spacing: 5px;
    font-family: "Clip"/*American Typewriter, serif*/;
 }


 .sign {

  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  background-image: radial-gradient(
    ellipse 50% 35% at 50% 50%,
    transparent
  );
  transform: translate(-50%, -50%);
  letter-spacing: 2;
  left: 50%;
  top: 50%;
  font-family: "American Typewriter", serif;
  text-transform: uppercase;
  font-size: 6em;
  color: white;
  text-shadow: 0 0 0.6rem #c2cfee, 0 0 1.5rem #a0afd3,
  -0.2rem 0.1rem 1rem #7d8caf, 0.2rem 0.1rem 1rem #5d6b8d,
  0 -0.5rem 2rem #3e4a68, 0 0.5rem 3rem #28324b;
  animation: shine 2s forwards, flicker 3s infinite;
}

@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: #5d6b8d;
    text-shadow: 0 0 0.6rem #c2cfee, 0 0 1.5rem #a0afd3,
    -0.2rem 0.1rem 1rem #7d8caf, 0.2rem 0.1rem 1rem #5d6b8d,
    0 -0.5rem 2rem #3e4a68, 0 0.5rem 3rem #28324b;
  }
  28%,
  33% {
    color: #5d6b8d;
    text-shadow: none;
  }
  82%,
  97% {
    color: #28324b;
    text-shadow: none;
  }
}

.flicker {
  animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
  animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
  0% {
    color: #28324b;
    text-shadow: none;
  }
  100% {
    color: white;
    text-shadow: 0 0 0.6rem #c2cfee, 0 0 1.5rem #a0afd3,
    -0.2rem 0.1rem 1rem #7d8caf, 0.2rem 0.1rem 1rem #5d6b8d,
    0 -0.5rem 2rem #3e4a68, 0 0.5rem 3rem #28324b;
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}
