h1 {
  text-align: center}

button {
  width: 100px;
}

.row1 {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
}
.row2 {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
}
.row3 {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
}
