.navbar {
  overflow: hidden;
  background-color: #28324B;
  display:flex;
  justify-content: space-evenly;
  position: sticky;
  top: 0px;
  z-index: 500;
}

.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: American Typewriter, serif;
}

.navbar a:hover {
  background-color: #ddd;
  color: black
}

.navbar a.active {
  background-color: #facd07;
  color: black;
}

.backgroundnoises {
  overflow: hidden;
  background-color: #535b6f;
  display:flex;
  justify-content: space-evenly;
  position: sticky;
  top: 0px;
  z-index: 500;
  top: 47px;
  height:100px;
}

button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid #28324B ;
  background-color:#facd07;
  outline: none;

}

button:hover {
  opacity : 0.6;
}

button:active {
  box-shadow: 10px 10px 10px black;
}

img {
  width: 40px;
  height: 40px;
}
.add-outline {
  outline: none;
  border: 15px double #28324B ;
  color: #28324B;
  border-collapse: separate;

}
/*.music {
  display: block;
  justify-content: center;
  margin: auto;
  border : none;
  text-align:center;
}*/

.music {
  max-width: 1200px;
  margin: 0 auto 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 2rem;
}
.music > div {
  padding: 1rem;
}
.grid > div {
  padding: 2rem;
}

iframe {
  -webkit-filter: brightness(70%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

iframe:hover {
  -webkit-filter: brightness(100%);


}

* {
  margin: 0;
  padding: 0;
 }

.parallax1 {
  background-image: url("headopacity.png");
  min-height: 40vh;
  display: cover;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  top: 0;
  left: 0;
 }


.container1 {
  position: relative;
  background-color: #535b6f;
  min-height: 100vh;
 }

h1 {
    position: absolute;
    left: 37%;
    top: 15%;
    width: 30%;
    text-align: center;
    color: white;
    background-color: #28324B;
    display: inline-block;
    padding: 18px;
    font-size: 30px;
    letter-spacing: 5px;
    font-family: American Typewriter, serif;
 }

 .sign2 {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  background-image: radial-gradient(
    ellipse 50% 35% at 50% 50%,
    transparent
  );
  transform: translate(-50%, -110%);
  letter-spacing: 2;
  left: 50%;
  top: 50%;
  font-family:  "American Typewriter", serif;
  text-transform: uppercase;
  font-size: 6em;
  color: #ffe6ff;
  text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
    -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
    0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  animation: shine 2s forwards, flicker 3s infinite;
}

@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
  28%,
  33% {
    color: #ff65bd;
    text-shadow: none;
  }
  82%,
  97% {
    color: #ff2483;
    text-shadow: none;
  }
}

.flicker {
  animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
  animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
  0% {
    color: #6b1839;
    text-shadow: none;
  }
  100% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}
